body {
    margin: 0;
    font-family: Verdana, sans-serif; 
    color:whitesmoke; 
    background-color:rgb(27, 27, 27);
    width:80%;
    margin:auto;
}

body div.main {
    height:auto;
    width: 50%; 
    min-width:300px; 
    margin: auto;
    font-size:min(3vw, 1em);
}
span.button {
    color:white;
    font-size:larger;
    font-weight:bold;
}

li {
    margin-bottom:  1.25vw;
}

img.wide {
    height:auto;
    width: 600px;
    margin:auto;
    max-width: 100%;
    border: 1px solid hsl(0, 1%, 24%);
}

img.wider {
    height:auto;
    width: 800px;
    margin:auto;
    max-width: 100%;
    border: 1px solid hsl(0, 1%, 24%);
}

img.inline {
    height: 25px;
    width: 25px;
    margin-bottom: 0px;
}

img.noborder{
    height:auto;
    width: 800px;
    margin:auto;
    max-width: 100%;
}

p {
    margin-bottom: 1.25vw;
}

br {
    margin-bottom: 1.25vw; 
}

br.caption {
    margin-bottom:.25vw;
}

a {
    color:rgb(86, 154, 218);
    font-weight:bold;
}

a.index {
    font-size:larger;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 25px;
    left: 25px;
    overflow-x: hidden;
    max-width:49%;
}
  
  /* Side navigation links */
.sidenav a {
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: .9vw;
}

@media screen and (max-width: 800px) {
    .sidenav {
        display:none;
    }
}
.sidenav a:first-child {
    font-size: 1vw;
}

  /* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    margin-left: 400px;
    padding-left: 20px;
    width:50%;
    min-width:300px;
    margin:auto;
}

span.caption{
    font-style:italic;
    font-size:smaller;
    margin-bottom: 1.25vw;
}

.sidenav a.sub{
    padding-left:40px;
}

.sidenav a.tsub{
    padding-left:40px;
    font-size: .85vw;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 65%;
}

td, th {
    border: 1px solid hsl(0, 1%, 24%);
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(235, 240, 247);
    color:black;
}

tr:nth-child(odd) {
    background-color: rgb(163, 173, 231);
    color:black;
}

 li.child{
    padding-left: 20px;
}

 .note {
    background-color: rgb(13, 102, 185);
    padding-left: 20px;
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:2px solid rgb(153, 208, 218);
 }

 .note p em {
    font-weight: bolder;
 }

 .note a{
    color:orange;
 }